---
import { getNavigation, getExplorations } from "../lib/sanity"
import "../styles/global.css"
import Navbar from "../components/layout/Navbar.astro"
import Footer from "../components/layout/Footer.astro"

const currentPath = Astro.url.pathname.replace(/\/$/, ""); 
const nav = await getNavigation()
const explorations = await getExplorations()
console.log("explorations:", JSON.stringify(explorations, null, 2))
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>SomeSeeds</title>
	</head>
	<body>
		 <Navbar links={nav?.links ?? []} 
		 logo={nav?.logo ?? null}
		currentPath={currentPath} 
		explorations={explorations ?? []}
		/>
		<slot />
		<Footer 
  logo={nav?.logo ?? null} 
  footerSocialLinks={nav?.footerSocialLinks ?? null} 
  footerLinks={nav?.footerLinks ?? []}
  currentPath={currentPath} 
/>
	</body>
</html>

<style>
/* Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* Base layout */
html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
</style>
