# Dependencies
frontend/node_modules
cms/node_modules

# Env files — never commit these!
.env
frontend/.env
cms/.env
**/.env

# Astro build output
frontend/dist
frontend/.astro

# Sanity build output
cms/dist
cms/.sanity

# OS files
.DS_Store