---
import ActivationCard from '../ui/ActivationCard.astro'
import CardsSlider from '../ui/CardsSlider.vue'

interface Props {
  activations: any[]
}

const { activations } = Astro.props
---

{activations.length === 0 ? (
  <section class="section">
    <p class="no-content">No activations yet.</p>
  </section>
) : activations.length === 1 ? (
  <section class="section">
    <ActivationCard {...activations[0]} />
  </section>
) : (
  <section class="section">
    <CardsSlider items={activations} client:load />
  </section>
)}

<style>
.no-content {
  opacity: 0.4;
  font-size: var(--text-m);
}
</style>