---

---
		<section class="section-hero">
	
			<h1 class="title_xl">
				Practices that empower situated knowledge
			</h1>

		</section>

<style>

	.section-hero {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 70vh;
		width: 100dvw;
		padding: var(--space-1) var(--space-3)
	}
	.title_xl {
		color: var(--color-primary);
		font-size: 17vh;
		font-weight: 700;
		line-height: .88em;
		
	}
</style>