---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import Button from "../ui/Button.vue"
---

<div id="container">
	
	<main>
		<section class="section">
	
			<h1>
				Welcome  
			</h1>
			<container class="container">
				<code><pre>hello</pre></code>
			<h2>This is my working setup</h2>
		<p>
			with Astro, Vue.Js, and Sanity as a headless CMS.
		</p>
		<Button href="/about" variant="primary">more</Button>
			</container>
		</section>
	</main>

		
	
</div>
